doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        footer(class="h-[10vh] w-full flex justify-evenly items-center text-[25px] text-orange-500")
            div(class="h-full w-full flex justify-evenly items-center " )
                <i class="fa-brands fa-instagram text-[36px] cursor-pointer"></i>
                <i class="fa-brands fa-x-twitter text-[36px] cursor-pointer"></i>
                <i class="fa-brands fa-github text-[36px] cursor-pointer"></i>
                