doctype html
html(lang="en")
    head
        <script src="https://cdn.tailwindcss.com"></script>
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio
    body
        nav(class="h-[10vh] w-full flex justify-evenly items-center text-[25px] text-orange-500")
            a(href="/",class="") Inicio

            
            a(href="/login")  Login

            a(href="/register") Register 

        
              