doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        nav(class="h-[10vh] w-full flex justify-evenly items-center text-[25px] text-orange-500")
            a(href="/") Inicio


            a(href="/destroy") Cerrar Sesion 