doctype html
html(lang="en")
    head
        <script src="https://cdn.tailwindcss.com"></script>
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        include partials/header.pug
        section(class="h-[80vh] bg-[url('/images/anders-jilden-GjwsHRIcQjU-unsplash.jpg')] bg-cover flex justify-center items-center flex-col text-center")
            h1(class="text-[30px] text-white") Añadir
            form(action="/add",method="post",class="h-[400px] w-[350px] flex flex-col justify-evenly items-center bg-white")
                input(type="text", name="nombre",class="p-[.4rem] w-[80%] border",placeholder="Nombre Producto")  
                input(type="number", name="precio",class="p-[.4rem] w-[80%] border",placeholder="Precio")
                input(type="text",name="imagen",class="p-[.4rem] w-[80%] border",placeholder="Imagen")
                button(type="submit",class="p-[.4rem] w-[150px] bg-black text-white") Añadir
        include partials/footer.pug