- var errors = errores
- var values = valores

doctype html
html(lang="en")
    head
        <script src="https://cdn.tailwindcss.com"></script>
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

        include partials/header.pug
        section(class="h-[80vh] bg-[url('https://images.unsplash.com/photo-1479030160180-b1860951d696?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover flex justify-center items-center flex-col text-center")
            h1(class="text-[30px] text-white") Register
            form(action="/register",method="post",class="h-[400px] w-[350px] flex flex-col justify-evenly items-center bg-white")
                input(type="text", name="nombre",class="p-[.4rem] w-[80%] border",placeholder="Usuario") 
                input(type="password", name="password",class="p-[.4rem] w-[80%] border",placeholder="Password")
                input(type="text", name="email",class="p-[.4rem] w-[80%] border",placeholder="Email")
                button(type="submit",class="p-[.4rem] w-[150px] bg-black text-white") Acceder

            if errors 
                for i in errors
                    p=i.msg

        include partials/footer.pug